.Menu{
    width: 95%;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
    font-size: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}